:root {
    --main-color: #f25454;
}

body {
    font-size: 14px;
    font-family: "Poppins", sans-serif;
}

.bg1 {
    background-image: url(../images/slideshow-1.jpg);
    background-size: cover;
    background-position: center center;
}

.bg2 {
    background-image: url(../images/slideshow-2.jpg);
    background-size: cover;
    background-position: center center;
}

.bg3 {
    background-image: url(../images/slideshow-3.jpg);
    background-size: cover;
    background-position: center center;
}

.navbar-dark .navbar-nav .nav-link.active:hover {
    color: var(--main-color);
}

.active-logo i {
    transition: color 0.5s;
}

.active-logo:hover i {
    color: var(--main-color);
}

.top-25 {
    top: 25%;
}

.rounded-top-right {
    border-top-right-radius: 3px;
}

.rounded-bottom-right {
    border-bottom-right-radius: 3px;
}

.pad {
    padding: 8px 10px;
}

.carousel-control-next, .carousel-control-prev {
    position: static;
    display: block;
    width: 100%;
}

.pad:hover .carousel-control-next, .carousel-control-prev {
    color: var(--main-color);
}

.bg-on1 {
    background-color: rgba(255, 255, 255, 0.5);
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    transition: width 1s;
}

.carousel-control-prev:hover .bg-on1 {
    width: 100%;
}

.carousel-control-next:hover .bg-on1 {
    width: 100%;
}

.carousel-item p {
    font-size: 70px;
    font-weight: bold;
    line-height: 0.8;
}

.content1 {
    animation: content1 1.9s;
}

.content2 {
    animation: content1 1.9s;
}

@keyframes content1 {
    0% {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

.bottom-30 {
    bottom: 30px;
}

.scroll {
    display: inline-block;
    height: 40px;
    width: 26px;
    border: solid #fff 1px;
    position: relative;
}

.scroll::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 50%;
    transform: translateX(-50%);
    height: 8px;
    width: 8px;
    z-index: 21111;
    background-color: #fff;
    border-radius: 50%;
    animation: scrolling 2s infinite;
}

.scroll-a:hover .scroll {
    border: solid var(--main-color) 1px;
}

.scroll-a:hover .scroll::before {
    background-color: var(--main-color);
}

@keyframes scrolling {
    0% {
        top: 4px;
        opacity: 1;
    }

    100% {
        top: 50%;
        opacity: 0;
    }

}

.header h2 {
    font-size: 80px;
    line-height: 38px;
    font-weight: 700;
    color: gainsboro;
}

.header h3 {
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 36px;
    font-weight: 700;
}

hr {
    position: absolute;
    background-color: #000;
    width: 40px;
    height: 1px;
    left: 50%;
    margin-top: 16px;
    transform: translateX(-50%);
    transition: width 0.5s;
    opacity: 1;
}

.line-hover:hover hr {
    width: 60px;
}

.py-7 {
    padding-top: 110px;
}

.w-60 {
    width: 60%;
}

.progress {
    height: 4px;
}

.progress-bar {
    background: var(--main-color);
    width: 80%;
    height: 4px;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 15%);
    border-radius: 5px;
}

.w-1 {
    animation: width1 2s;
}

@keyframes width1 {
    0% {
        width: 0;
    }

    100% {
        width: 80%;
    }
}

.w-2 {
    animation: width2 2s;
}

@keyframes width2 {
    0% {
        width: 0;
    }

    100% {
        width: 95%;
    }
}

.w-3 {
    animation: width3 2s;
}

@keyframes width3 {
    0% {
        width: 0;
    }

    100% {
        width: 85%;
    }
}

.w-4 {
    animation: width4 2s;
}

@keyframes width4 {
    0% {
        width: 0;
    }

    100% {
        width: 70%;
    }
}

.layer {
    position: absolute;
    top: 1%;
    width: 100%;
    height: 100%;
    background-color: rgba(242, 84, 84, 0.85);
    visibility: hidden;
    transition: all 0.1s;
}

.team:hover .layer {
    visibility: visible;
    top: 0%;
}

.team-img {
    overflow: hidden;
}

.team:hover img {
    transition: all 0.5s;
}

.team:hover img {
    transform: scale(1.1);
}

.team h6 {
    transition: color 0.2s;
}

.team:hover h6 {
    color: var(--main-color);
}

.btn {
    background-color: var(--main-color);
    border-radius: 3px;
    padding: 18px 30px;
    line-height: 1;
}

.btn:hover {
    background-color: #f38383;
}

.serv-content i {
    color: var(--main-color);
}

.serv-content h5 {
    transition: color 0.5s;
}

.serv-content:hover h5 {
    color: var(--main-color);
}

.col {
    color: var(--main-color);
}

.form-control {
    border-color: #ececec;
}

textarea {
    height: 110px;
    width: 100%;
    color: #a6a6a6;
}

textarea:focus {
    border: 2px solid;
    border-color: var(--main-color);
    box-shadow: none;
}

.form-control:focus {
    border: 2px solid;
    border-color: var(--main-color);
    box-shadow: none;
}

::placeholder {
    color: #ececec;
}

.fs-7 {
    font-size: 14px;
}

.bg-footer {
    background: #222;
    background-image: url(../images/dotted-map.png);
    background-size: contain;
}

.bg-footer p {
    margin-bottom: 4;
}

.bg-footer p a {
    color: #6c757d;
}

.bg-footer p a:hover {
    color: var(--main-color);
}

.bord-a {
    border: 1px solid #b0b0b0;
    padding: 4px 10px;
    margin-bottom: 8px;
    color: #6c757d;
}

.bord-a:hover {
    border: 1px solid var(--main-color);
    color: var(--main-color);
}

.spn {
    color: white;
}

.spn:hover {
    color: var(--main-color);
}

.bg-lightblack {
    background-color: #1a1a1a;
}

.btn-footer {
    background: rgba(242, 84, 84, 0.5);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 18px;
}

.btn-footer:hover {
    background-color: var(--main-color);
}

.carousel-indicators {
    position: static;

}

.carousel-caption {
    position: static;
}

.carousel-indicators [data-bs-target] {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.img-slider {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#blog h6 {
    color: black;
    font-weight: bold;
}


.carousel .active {
    visibility: visible;
}